<% include ../partials/header %>

<div = "row">
	<%  if (!isAuthenticated){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>

	<h2>Hello, <%= user.username %> - here's your list of parties!</h2>

	<% myEvents.forEach(function(event) {%>

				<p>

			<h3><a href ="/event/<%=event.id%>"><%=event.dataValues.title%></a></h3>
			</p>

<%})%>

<%  }%>


	<a href="/logout" class = "btn btn-danger btn-lg">Log out</a>

	</div>





<% include ../partials/footer %>