<% include ../partials/header %>
<div class = "row">
	<div class="col-md-4">
		<form action="/addevent" method = "post" role ="form-horizontal">


			<h3>Submit your event</h3>

				<div class = "form-group" >
						<label for="title">Title:</label>
						<input type ="text" name ="title" id="title" class="form-control">
				</div>

				<div class = "form-group" >

					<label for="eventdate">Event Date: </label>
					<input type ="date" name ="eventdate" id="eventdate" class="form-control">

				</div>
				<div class = "form-group" >

					<label for="djs">DJs: </label>
					<input type ="text" name ="djs" id="djs" class="form-control">

				</div>
				<div class = "form-group" >

					<label for="body">Description: </label>
					<textarea type ="text" name ="body" id ="body" class="form-control"></textarea>

				</div>

				<div class = "form-group" >
					<label for="flyerlink">link to flyer: </label>
					<input type ="text" name ="flyerlink" id ="flyerlink" class="form-control">
				</div>

				<div class = "form-group" >
					<input type="submit" value="Submit" class ="btn btn-primary ">
				</div>

		</form>
		</div>
	</div>



<% include ../partials/footer %>