<% include ../partials/header %>

<div class = "row">
	<div class="col-md-4">

		<h3>Login:</h3>

			<% if (typeof message == 'undefined') { %>
				<p style = "color:red">
				<%= message %>
				</p>
			<% } %>

	<form action="/login" method = "post" role ="form-horizontal">

			<div class = "form-group" >
				<label for="user">Username:</label>
				<input type="text" name="username" id="user" autofocus class="form-control">
			</div>
			<div class = "form-group" >
				<label for="pass">Password:</label> <input type="password" name="password" id="pass" class="form-control">
			</div>
			<div class = "form-group" >
				<input type="submit" value="Log In" class ="btn btn-primary ">
			</div>
	</form>
		<a href="/signup">Don't have an account? Create one here</a>
	</div>
</div>
<% include ../partials/footer %>
